<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>StudentGroup List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Student Group List</h1>
<a href="addStudentGroup">Add Student Group</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Student Group Name</th>
        </tr>
        <tr th:each ="studentGroup : ${studentGroups}">
            <td th:utext="${studentGroup.name}">...</td>
            <td><a th:href="@{/showStudentGroupUpdateForm/{id}(id=${studentGroup.id})}">Update</a>
                <a th:href="@{/deleteStudentGroup/{id}(id=${studentGroup.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>